html {
    width: 100%;
    height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

#poster {
	position: absolute;
	width: 1500px;
	height:2100px;
    background-color: #FFF;
    z-index: -50;
}

#poster .header {
    position: absolute;
    margin: 60px;
    left: 0;
    right: 0;
    font-size: 108px;
    text-align: center;
}

#poster .author {
    position: absolute;
    font-size: 60px;
    left: 1050px;
    top: 210px;
}

#poster .maintext {
    position: absolute;
    font-size: 60px;
    margin-left: 60px;
    margin-right: 60px;
    top: 420px;
}

.maintext > p {
    margin-bottom: 90px;
    margin-top: 30px;
}

.maintext > h3 {
    margin: auto;
}