html {
	height: 100%;
	width: 100%;
	font-family: 'Noto Sans JP';
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Noto Serif JP';
	font-style: normal;
	font-weight: normal;
}

#poster {
	position: absolute;
	width: 2000px; /* 2000*/
	height: 2800px; /* 2800*/
    background-color: #fafafa;
    z-index: -50;
}

#poster .header {
    position: absolute;
    margin: 80px; /*80 */
    left: 0;
    right: 0;
    font-size: 144px; /* 144*/
    text-align: center;
}

#poster .author {
    position: absolute;
    font-size: 80px; /* 80*/
    left: 1400px; /* 1400*/
    top: 280px; /*280 */
}

#poster .maintext {
    position: absolute;
    font-size: 80px; /* 80*/
    margin-left: 80px; /* 80*/
    margin-right: 80px; /* 80*/
    top: 560px; /* 560*/
}

.maintext > p {
    margin-bottom: 120px; /* 120*/
    margin-top: 40px; /* 40*/
	font-family: 'Noto Serif JP';
}

.maintext > h3 {
    margin: auto;
}