html {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

#poster {
	position: absolute;
	width: 1500px;
	height:2100px;
    background-color: #333333;
	color: #f7f7f7;
    z-index: -50;
}

#poster .header {
    position: absolute;
    margin: 5%;
    left: 0;
    right: 0;
    font-size: 700%;
    text-align: center;
	background-color: rgba(255, 240, 245, 0.2);
}

#poster .author {
    position: absolute;
    font-size: 400%;
    left: 70%;
    top: 12%;
}

#poster .maintext {
    position: absolute;
    font-size: 390%;
    margin-left: 5%;
    margin-right: 5%;
    top: 20%;
}

.maintext > p {
    margin-bottom: 6.5%;
    margin-top: 2.5%;
	background-color: rgba(240, 248, 255, 0.15);
}

.maintext > h3 {
    margin: auto;
}